<label for="username">Username</label> : {{username}}
<input type="text" class="form-control" id="username" [(ngModel)]="username" (input)="verifyButton()">
<button
  class="btn btn-primary"
  [disabled]="!allowClickButton"
  (click)="resetUsername()">Reset username
</button>
<hr>
<br>
<label for="serverName">Server Name</label><!--: {{serverName}}-->
<!--<input id="serverName" type="text" class="form-control" (input)="onUpdateServerName($event)">-->
<input id="serverName" type="text" class="form-control" [(ngModel)]="serverName">
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add new server
</button>
<!--<h4>{{serverCreationStatus}}</h4>-->
<p *ngIf="serverCreated; else noServer">Server was created, server name is {{ serverName }}</p>
<ng-template #noServer>
  <p>No server was created!</p>
</ng-template>
<hr>
<app-server *ngFor="let server of servers"></app-server>
<hr>
<br>
<!--<button-->
<!--class="btn btn-success" (click)="showSecret = !showSecret">Display Details</button>-->
<button
  class="btn btn-success" (click)="onToggleDetails()">Display Details
</button>
<p *ngIf="showSecret">Secret Password: SUU WHOOP</p>
<div
  *ngFor="let logItem of log; let i = index"
  [ngStyle]="{backgroundColor: i >= 5 ? 'blue' : 'transparent'}"
  [ngClass]="{'white-text': i >= 5}"
  >{{ logItem }}</div>
